<header id="header">
	<h1 id="logo"><a href="/">christianjacobs<span>.uk</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li class="submenu">
				<a href="/research">Research</a>
				<ul>
					<li class="submenu">
                        <a href="/research/cfd">Computational Fluid Dynamics</a>
                        <ul>
                            <li><a href="/research/cfd/multiphase-flow.html">Multiphase Flow</a></li>
                            <li><a href="/research/cfd/turbulence.html">Turbulence</a></li>
                            <li><a href="/research/cfd/code-generation.html">Code Generation</a></li>
                        </ul>
                    </li>
					<li><a href="/research/rdm">Research Data Management</a></li>
				</ul>
			</li>
      <li><a href="/teaching.html">Teaching</a></li>
      <li><a href="/software.html">Software</a></li>
      <li><a href="https://scholar.google.co.uk/citations?user=9xTnYD0AAAAJ&hl=en&oi=sra">Publications</a></li>
		</ul>
	</nav>
</header>
